body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    align-items: flex-start;
}

.dark-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    margin: 0;
    padding: 0.75em 3em;
    width: 100%;
    flex: auto;
    box-sizing: border-box;
}

.dark-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: none;
}

header .logo {
    font-size: 24px;
    color: 24px #f9faf8;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.75em;
}

.dark-header .header-main {
    display: flex;
    padding: 0.75em 0;
    justify-content: space-between;
    gap: 0.75em;
    margin: 1.25em 0;
}

.header-main .caption {
    display: flex;
    flex-direction: column;
    /* max-width: 360px; */
    flex: auto;
    gap: 0.5em;
}

.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.blue-button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 5rem;
    height: 1.75em;
    flex: none;
    border-radius: 5px;
    border: none;
}

.image-placeholder {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex: none;
}