body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
}

.dark-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    margin: 0;
    padding: 0.75em 3em;
    width: 100%;
    flex: none;
    box-sizing: border-box;
}

.dark-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: none;
}

header .logo {
    font-size: 24px;
    color: 24px #f9faf8;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.75em;
}

.dark-header .header-main {
    display: flex;
    padding: 0.75em 0;
    justify-content: space-between;
    gap: 0.75em;
    margin: 1.25em 0;
}

.header-main .caption {
    display: flex;
    flex-direction: column;
    /* max-width: 360px; */
    flex: auto;
    gap: 0.5em;
}

.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.blue-button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 5rem;
    height: 1.75em;
    flex: none;
    border-radius: 5px;
    border: none;
}

.image-placeholder {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: auto;
    gap: 1em;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information-cards {
    display: flex;
    justify-content: space-between;
    gap: 3.5em;
}

.card {
    display: flex;
    flex-direction: column;
}

.card .image {
    align-self: center;
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.card .caption {
    max-width: 160px;
    text-align: center;
}

.quote-card {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.quote-card .quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-card .byline {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: #1f2937;
}

footer {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    color: #e5e7eb;
    height: 84px;
}
